body{
    text-align: center;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
form{
    background-color: burlywood;
    border: 2px solid black;
    width: 30vw;
    min-width: 400px;
    height: 20vh;
    margin: auto;
    margin-top: 150px;
}
form>*{
    margin-top: 20px;
}